@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.main-block, .about-block, .skills-block, .works-block, .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
*{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
}
section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

#about{
    background-image: url('./images/background.jpg');
}
#aboutTRITON{
    background-image: url('./images/background.jpg');
}
#skills{
    background-image: url('./images/background.jpg');
}
#works{
    background-image: url('./images/background.jpg');
}
#comments{
    background-image: url('./images/background.jpg');
}

.main-block{
    flex-direction: column;
    height: 100vh;
    display: flex;
    position: relative;
}
.main-block img{
    display: block;
    width: 100%;
}
.main-content{
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    width: 849px;
    height: 223px;
    padding-left: 30px;
    color: #afafafe7;
    position: absolute;
    font-size: 80px;
}
.main-title{
    padding-top: 67px;
    color: #ffffff;
    font-size: 80px;
    position: absolute;
}
.main-subtitle{
    color: #bb0303;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    display: flex;
}
.button{
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background: #BBFF2C;
    border-radius: 100px;
    color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #000000;
    border: 2px solid #000;
    display: flex;
    
}
.button a{
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
.button{
    transition-duration: 0.3s;
}
.button:hover{
    background: #a0d826;
}
.moving-spidey{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 70px;
    animation-name: change-rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    transform-origin: center center;
}
@keyframes change-rotate {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
    
    
    
}
.title{
    padding-top: 100px;
    text-align: center;
    color: #FFF;
    font-size: 80px;
    text-shadow: 5px 5px 0 #000000;
    
}
.about-title{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.about-content{
    display: flex;
    font-size: 20px;
    height: 600px;
    background: #3a3a3a;
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
}
.about-card{
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
    
    
}
.about-card p{
    color: #000000;
    font-size: 45px;
    align-self: start;
    padding-left: 20px;
    line-height: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-card img{
    padding-bottom: 20px;
    display: inline-block;
}
 
#Triton{
    background-image: url('./images/background.jpg');
}
.Triton-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.Triton-title{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    max-width: 463px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Triton-content{
    display: flex;
    
    height: 470px;
    background: #3a3a3a;
    padding-left: 40px;
    padding-top: 40px;
    position: relative;
}
.Triton-card{
    width: 376px;
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    position: relative;
}
.Triton-card p{
    color: #000000;
    font-size: 35px;
    align-self: start;
    padding-left: 20px;
    line-height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Triton-card img{
    padding-bottom: 20px;
}

.skills-card{
    background-image: url(img/form3.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding-left: 10px;
}

.skills-card p{
    color: #000;
    font-size: 18px;
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: 'Comfortaa';
}
.works-block img{
    margin: 0 20px;
    width: 27%;
    box-shadow: 
      7px 7px 0 #000000;
}
.comments-block{
    justify-content: space-evenly;
    max-width: 1150px;
    margin: auto;
}
.comment-card{
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}
.comment-card h3{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}
.comment-card p{
    font-size: 14px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 10px 20px;
    text-align: center  ;
}
.comment{
    width: 327px;
    height: 161px;
    justify-content: center;
}
.comment p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    max-width: 250px;
}
footer{
   background-color: #200153;
   height: 110px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: #FFF;
}

.footer-info p{
   font-family: 'Comfortaa';
   padding-bottom: 10px;
}

.footer-year p{
   font-family: 'Comfortaa';
   letter-spacing: 1.5px;
}

.footer-links a{
   margin-right: 15px;
}
nav{
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 10;
}
.fixed-menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex: 1;
}
.nav-links{
   display: flex;
   justify-content: center;
   flex-grow: 1;
   padding-right: 150px;
}
.nav-link{
   width: 112px;
   height: 40px;
   border-radius: 12px;
   border: 2px solid #000;
   background-color: #FFF;
   text-decoration: none;
   color: #000;
   font-size: 20px;
   font-family: 'Comfortaa';
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}

.logo{
   color: #BBFF2C;
   font-size: 80px;
   padding-left: 50px;
}
.active{
   background-color: #BBFF2C;
}

.mobile-button{
   display: none;
   padding-top: 10px;
   width: 40px;
   position: absolute;
   right: 20px;
}
.hide{
   display: none;
}

.mobile-menu{
   position: absolute;
   top: 0;
   z-index: -1;
   width: 100%;
   background-color: #200153;
   min-height: 100vh;
}
.mobile-nav{
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.mobile-nav-links .nav-link{
   margin-bottom: 30px;
   width: 210px;
   height: 50px;
}

.off-scroll{
   overflow: hidden;
}

@media (max-width: 500px) {

    .mobile-button {
       display: block;
   }

    .nav-links{
        display: none;
    }
    .logo{
        padding-left: 20px;
        font-size: 40px;
        padding-top: 10px; 
    }
    .main-content{
        max-width: 320px;
    }
    .main-title{
        font-size: 30px;
        padding-top: 30px;
    }
    .main-subtitle{
        font-size: 15px;
    }
    .moving-spidey{
        display: none;
    }
    .title{
        font-size: 50px;
        padding-top: 30px;
    }
    .about-block, .Triton-block, .skills-block, .works-block, .comments-block{
        flex-direction: column;
        margin-top: 20px;
        padding: 0;
    }
    .about-card, .Triton-card{
        order: -1;
        background-size: contain;
        padding-top: 20px;
        width: 326px;
        height: 296px;
    }
    .about-card img, .Triton-card img{
        width: 85%;
    }
    .about-content, .Triton-content{
        width: 75%;
        height: 250px;
        margin-bottom: 20px;
    }
    .about-title, .Triton-title{
        font-size: 18px;
    }
    .skills-card{
        margin: 20px;
        padding-left: 10px;
        background-size: contain;
    }
    .skills-section{
        min-height: 60vh;
    }
    .skills-card .button{
        position: absolute;
        bottom: 100px;
    }
    .works-block img{
        width: 80%;
        margin: 20px 0;
    }
    .comments-block{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        padding-top: 50px;
    }
    .comment p{
        font-size: 15px;
        max-width: 290px;

    }
}